<app-standard-title title="Change Password"></app-standard-title>
<div class="mt-4">
  <app-standard-card>
    <div class="flex flex-col gap-4 w-1/2">
      <div class="mb-3">
        <app-standard-input-label> Current Password </app-standard-input-label>
        <input
          type="password"
          pInputText
          class="w-full"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <app-standard-input-label> New Password </app-standard-input-label>
        <input
          type="password"
          pInputText
          class="w-full"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <div class="mb-3">
        <app-standard-input-label> Confirm Password </app-standard-input-label>
        <input
          type="password"
          pInputText
          class="w-full"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <app-standard-button
        label="Save Changed"
        styleClass="primary w-[300px] "
        class="mt-2"
        type="submit"
      ></app-standard-button>
    </div>
  </app-standard-card>
</div>
