<div class="flex flex-wrap justify-between">
  <div class="flex">
    <h5
      class="inline-block relative px-4 text-white bg-primary-main text-lg sm:text-[1.31rem] md:text-[1.5rem] uppercase font-bold leading-[37px] pl-2 min-w-40 text-center"
    >
      {{ title }}
      <span
        class="absolute top-0 right-[-20px] w-0 h-0 border-r-[20px] border-r-transparent border-b-[35px] border-b-[#7b848a]"
      ></span>
    </h5>
  </div>
  <div class="w-full border border-gray-300 mt-2"></div>
</div>
