::ng-deep .course-progress-bar {
 height: 10px; 
 background-color: #eee; 
}

::ng-deep .course-progress-bar .p-progressbar-value {
 background-color: var(--primary-main); 
 height: 100%;
}

::ng-deep .course-progress-bar .p-progressbar-label {
 display: none; 
}
