:host::ng-deep {
 .p-button.primary {
  background: var(--primary-main);
  border: 0.5px solid var(--primary-main);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
  color: white;
  .p-button-label {
   font-weight: 500;
  }
 }

 .p-button.primary:hover {
  background: #2a4a73;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
 }

 .p-button.primary:disabled {
  background: var(--primary-faded);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
 }

 .p-button.primary-outline {
  background: transparent;
  border: 1px solid var(--primary-main);
  color: #325685;
  border-radius: 8px;
  padding: 10px 18px;
  box-shadow: none;
  .p-button-label {
   font-weight: 500;
  }
 }

 .p-button.primary-outline:hover {
  background-color: var(--primary-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-main);
 }

 .p-button.primary-outline:disabled {
  background: transparent;
  border-color: var(--primary-faded);
  color: var(--primary-main);
  cursor: not-allowed;
  opacity: 0.9;
  box-shadow: none;
 }

 .p-button.primary-outline-circle {
  background: transparent;
  border: 1px solid var(--primary-main);
  color: #325685;
  border-radius: 20px;
  padding: 8px 18px;
  box-shadow: none;
  .p-button-label {
   font-weight: 500;
  }
 }

 .p-button.primary-outline-circle:hover {
  background-color: var(--primary-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-main);
 }

 .p-button.primary-outline-circle:disabled {
  background: transparent;
  border-color: var(--primary-faded);
  color: var(--primary-main);
  cursor: not-allowed;
  opacity: 0.9;
  box-shadow: none;
 }

 .p-button.primary-light {
  background: var(--primary-light);
  border: 0.5px solid var(--primary-light);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 16px;
  color: var(--primary-main);
  .p-button-label {
   font-weight: 500;
  }
 }

 .p-button.primary-light:hover {
  background: #819bbb;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
 }

 .p-button.primary-light:disabled {
  background: var(--primary-light);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.6;
 }
}
