<app-standard-title title="Home"></app-standard-title>
<div class="mt-4 ">
  <app-standard-card>
    <div class="flex flex-col gap-2 min-h-[70vh]">
      <div class="text-base text-blackShade-main font-medium ">
        Dash board
      </div>
      <div class="grid grid-cols-3 gap-4">
        <div class="bg-[#FFEEE8] p-4 rounded-xl flex gap-2 cursor-pointer">
          <div
            class="p-3 bg-white text-center rounded-xl flex items-center justify-center"
          >
            <i class="pi pi-play-circle text-[#FF6636]"></i>
          </div>
          <div class="flex flex-col">
            <div class="text-base text-blackShade-main">10</div>
            <div class="text-sm text-blackShade-light">Enrolled Courses</div>
          </div>
        </div>
        <div class="bg-[#EBEBFF] p-4 rounded-xl flex gap-2 cursor-pointer">
          <div
            class="p-3 bg-white text-center rounded-xl flex items-center justify-center"
          >
            <i class="fa-solid fa-table-list text-[#564FFD]"></i>
          </div>
          <div class="flex flex-col">
            <div class="text-base text-blackShade-main">6</div>
            <div class="text-sm text-blackShade-light">Active Courses</div>
          </div>
        </div>
        <div class="bg-[#E1F7E3] p-4 rounded-xl flex gap-2 cursor-pointer">
          <div
            class="p-3 bg-white text-center rounded-xl flex items-center justify-center"
          >
            <i class="pi pi-trophy text-[#23BD33]"></i>
          </div>
          <div class="flex flex-col">
            <div class="text-base text-blackShade-main">6</div>
            <div class="text-sm text-blackShade-light">Active Courses</div>
          </div>
        </div>
      </div>
      <div class="text-base text-blackShade-main font-medium ">
        My schedule
      </div>
      <div class="grid grid-cols-2 gap-4 w-full">
        <div class="rounded-xl p-4 border bg-white flex gap-4 cursor-pointer">
          <img
            src="assets/images/img_course.jpg"
            class="object-cover w-[100px] h-[100px] rounded-xl"
          />

          <div class="flex flex-col gap-2">
            <div class="text-base text-blackShade-main font-medium">
              Indonesia satay cooking class for begineers
            </div>
            <div class="flex gap-4 text-blackShade-light text-sm items-center">
              <div class="flex gap-2 items-center">
                <i class="pi pi-calendar"></i>
                <span>6 Jan, 10:00 AM</span>
              </div>
              <div class="flex gap-2 items-center">
                <i class="pi pi-clock"></i>
                <span>90 min</span>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </app-standard-card>
</div>
