<div>
 <div class="text-xl text-blackShade-main font-semibold mb-4">
   Owner
 </div>
 <div class="border rounded-xl p-4 flex gap-4">
  <img src="assets/images/img_course.jpg"
        class="object-cover w-[100px] h-[100px] rounded-full" />
   <div class="flex flex-col">
     <div class="font-medium text-xl text-blackShade-main">Vako Shvili</div>
     <div class="font-normal text-base text-blackShade-light">Web Designer & Best-Selling Instructor</div>
     <div class="flex gap-8 py-4">
       <div class="flex gap-2 items-center">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <div class="font-medium text-blackShade-main">4.9</div>
         <div class="font-normal text-blackShade-light text-base">Course Rating</div>
       </div>
       <div class="flex gap-2 items-center">
        <i class="pi pi-users text-[#564FFD]"></i>
        <div class="font-medium text-blackShade-main">4.9</div>
        <div class="font-normal text-blackShade-light text-base">Course Rating</div>
       </div>
       <div class="flex gap-2 items-center">
        <i class="pi pi-users text-[#FF6636]"></i>
        <div class="font-medium text-blackShade-main">09</div>
        <div class="font-normal text-blackShade-light text-base">Course</div>
       </div>
     </div>
     <div class="text-blackShade-light text-sm">
       One day Vako had enough with the 9-to-5 grind, or more like 9-to-9 in his case, and quit his job, or more like got himself fired from his own startup. He decided to work on his dream: be his own boss, travel the world, only do the work he enjoyed..
     </div>
   </div>
 </div>
</div>