<div class="flex flex-col">
  <div class="text-xl text-blackShade-main font-semibold mb-4">
    Course Rating
  </div>
  <div class="flex">
   <div class="flex flex-col items-center border rounded-xl p-8">
     <div class="text-4xl font-extrabold mb-8">4.8</div>
     <div class="flex gap-2 mb-2">
       <i class="pi pi-star-fill text-[#FD8E1F]"></i>
       <i class="pi pi-star-fill text-[#FD8E1F]"></i>
       <i class="pi pi-star-fill text-[#FD8E1F]"></i>
       <i class="pi pi-star-fill text-[#FD8E1F]"></i>
       <i class="pi pi-star-fill text-[#FD8E1F]"></i>
     </div>
     <div>Course Rating</div>
   </div>
   <div class="flex w-full gap-8">
     <div class="flex flex-col justify-between ml-8">
       <div class="flex gap-1">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
       </div>
       <div class="flex gap-1">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
       </div>
       <div class="flex gap-1">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
       </div>
       <div class="flex gap-1">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
       </div>
       <div class="flex gap-1">
         <i class="pi pi-star-fill text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
         <i class="pi pi-star text-[#FD8E1F]"></i>
       </div>
     </div>
     <div class="flex flex-col justify-between">
       <div class="text-sm text-blackShade-light">
         5 Star Rating
       </div>
       <div class="text-sm text-blackShade-light">
         4 Star Rating
       </div>
       <div class="text-sm text-blackShade-light">
         3 Star Rating
       </div>
       <div class="text-sm text-blackShade-light">
         2 Star Rating
       </div>
       <div class="text-sm text-blackShade-light">
         1 Star Rating
       </div>
     </div>
     <div class="flex flex-col justify-between flex-1">
      <p-progressBar [value]="50" />
      <p-progressBar [value]="50" />
      <p-progressBar [value]="50" />
      <p-progressBar [value]="50" />
      <p-progressBar [value]="50" />
     </div>
   </div>
  </div>
  <div class="text-xl text-blackShade-main font-semibold mb-4 mt-8">
    Students Feedback
  </div>
  <div>
    <div class="flex">
      <img src="assets/images/img_course.jpg"
      class="object-cover w-[50px] h-[50px] rounded-full" />
      <div class="flex flex-col gap-2 ml-4">
        <div class="flex gap-4">
          <span>Guy Hawkins</span>
          <span>• 1 week ago</span>
        </div>
        <div class="flex gap-1">
          <i class="pi pi-star-fill text-[#FD8E1F]"></i>
          <i class="pi pi-star-fill text-[#FD8E1F]"></i>
          <i class="pi pi-star-fill text-[#FD8E1F]"></i>
          <i class="pi pi-star-fill text-[#FD8E1F]"></i>
          <i class="pi pi-star-fill text-[#FD8E1F]"></i>
        </div>
        <div class="text-sm text-blackShade-light">
          I appreciate the precise short videos (10 mins or less each) because overly long videos tend to make me lose focus. The instructor is very knowledgeable in Web Design and it shows as he shares his knowledge. These were my best 6 months of training. Thanks, Vako.
        </div>
      </div>
    </div>
    <p-divider></p-divider>
  </div>
  
</div>