::ng-deep .p-progressbar{
 height: 16px;
}
::ng-deep .p-progressbar.p-component.p-progressbar-determinate{
 background-color: #FFF2E5;
}
::ng-deep .p-progressbar-value.p-progressbar-value-animate.ng-star-inserted{
 background-color: #FD8E1F;
}