<div class="container min-h-screen">
  <div class="flex items-center justify-center pt-20">
    <div
      class="shadow-md rounded-lg border border-gray-300 py-5 px-10 w-10/12 xl:w-1/2 flex flex-col overflow-hidden"
    >
      <img src="assets/images/logo.png" class="w-40 mx-auto" />
      <p-steps
        [activeIndex]="currentPhases"
        [model]="itemPhases"
        [readonly]="true"
        class="my-4"
      />
      <p class="text-3xl text-primary-main font-medium my-5 text-center">
        Forgot Password
      </p>
      <h3
        [ngSwitch]="currentPhases"
        class="text-sm text-blackShade-light font-normal mb-10 text-center"
      >
        <span *ngSwitchCase="0">
          Enter your email and system send code to verify
        </span>
        <span *ngSwitchCase="1">
          System sent verification code to your email. Enter code to re-set
          password
        </span>
        <span *ngSwitchCase="2">
          For your account's security, do not share your password with anyone
          else
        </span>
      </h3>
      <div [ngSwitch]="currentPhases">
        <form
          [formGroup]="forgotPasswordPhase1Form"
          (submit)="onSubmitPhase1($event)"
          *ngSwitchCase="0"
          class="flex flex-col gap-2"
        >
          <div>
            <app-standard-input-label> Email </app-standard-input-label>
            <input
              type="email"
              pInputText
              class="w-full"
              formControlName="email"
            />
          </div>
          <app-standard-button
            label="Next"
            styleClass="primary w-full"
            class="mt-2"
            type="submit"
          ></app-standard-button>
          <app-standard-form-error [control]="forgotPasswordPhase1Form.get('email')" fieldName="Email"></app-standard-form-error>

        </form>
        <form
          [formGroup]="forgotPasswordPhase2Form"
          (submit)="onSubmitPhase2($event)"
          *ngSwitchCase="1"
          class="flex flex-col gap-2"
        >
          <div>
            <app-standard-input-label>
              Verification Code
            </app-standard-input-label>
            <input
              type="text"
              pInputText
              class="w-full"
              formControlName="code"
            />
          </div>
          <div class="">
            <app-standard-input-label> Password </app-standard-input-label>
            <input
              type="password"
              pInputText
              class="w-full"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div class="">
            <app-standard-input-label>
              Confirm Password
            </app-standard-input-label>
            <input
              type="password"
              pInputText
              class="w-full"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
            />
          </div>
          <app-standard-button
            label="Next"
            styleClass="primary w-full"
            class="mt-2"
            type="submit"
          ></app-standard-button>
          <app-standard-form-error [control]="forgotPasswordPhase2Form.get('code')" fieldName="Code"></app-standard-form-error>
          <app-standard-form-error [control]="forgotPasswordPhase2Form.get('password')" fieldName="Password"></app-standard-form-error>
          <app-standard-form-error [control]="forgotPasswordPhase2Form.get('confirmPassword')" fieldName="Code"></app-standard-form-error>
        </form>
      </div>
    </div>
  </div>
</div>
