::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-number {
 background-color: var(--primary-main);
 color: white;
}

::ng-deep .p-steps .p-steps-item.p-highlight .p-steps-title {
 color: var(--black-light);
}

::ng-deep .p-steps .p-steps-item .p-steps-number {
 background-color: #e2e8f0;
 color: #334155;
}

::ng-deep .p-steps-title {
 font-size: small;
}
