<div class="flex">
 <img src="assets/images/img_course.jpg"
 class="object-cover w-[50px] h-[50px] rounded-full" />
 <div class="flex flex-col gap-2 ml-4">
   <div class="flex gap-4">
     <span>Guy Hawkins</span>
     <span>• 1 week ago</span>
   </div>
   <div class="flex gap-1">
     <i class="pi pi-star-fill text-[#FD8E1F]"></i>
     <i class="pi pi-star-fill text-[#FD8E1F]"></i>
     <i class="pi pi-star-fill text-[#FD8E1F]"></i>
     <i class="pi pi-star-fill text-[#FD8E1F]"></i>
     <i class="pi pi-star-fill text-[#FD8E1F]"></i>
   </div>
   <div class="text-sm text-blackShade-light">
     I appreciate the precise short videos (10 mins or less each) because overly long videos tend to make me lose focus. The instructor is very knowledgeable in Web Design and it shows as he shares his knowledge. These were my best 6 months of training. Thanks, Vako.
   </div>
 </div>
</div>