<div class="min-h-screen">
 <app-standard-breadcrumb [currentRoute]="title" />
 <div class="px-6 container mt-6 ">
   <div class="max-w-[800px] mx-auto">
     <div class="flex flex-col flex-1 w-full">
       <div class="flex flex-col rounded-2xl shadow-md p-8 mb-8">
         <div class="flex justify-between items-center">
          <div class="flex gap-2 items-center mb-1">
           <img src="assets/images/img_course.jpg" class="w-10 h-10 rounded-full object-cover object-center" />
           <div class="flex flex-col gap-1">
             <span class="text-sm text-blackShade-main font-medium">Nguyễn Văn Tèo</span>
             <span class="text-sm text-blackShade-light"> 12 November 2020 19:35</span>
           </div>
          </div>
          <i class="pi pi-ellipsis-v text-blackShade-light cursor-pointer" ></i> 
         </div>
         <div class="text-xl font-medium mb-4">How to patch KDE on FreeBSD?</div>
         <div>Mi magna sed nec nisl mattis. Magna cursus tincidunt rhoncus imperdiet fermentum pretium, pharetra nisl. Euismod.</div>
         <p-divider></p-divider>
         <div class="flex gap-4 text-blackShade-light text-xs">
           <div class="flex gap-1  cursor-pointer items-center">
             <i class="pi pi-thumbs-up"></i>
             <span>123</span>
           </div>
           <div class="flex gap-1   cursor-pointer items-center">
            <i class="pi pi-thumbs-down"></i>
            <span>456</span>
          </div>
         </div>
       </div>
       <div class="flex flex-col rounded-2xl shadow-md p-8 mb-8 gap-4">
         <p-editor  [style]="{ height: '120px' }" />
         <app-standard-button label="Submit"
         styleClass="primary "
         class="ml-auto"
         ></app-standard-button>
      </div>
      <div class="flex flex-col rounded-2xl shadow-md p-8 mb-8">
       <div class="flex justify-between items-center">
        <div class="flex gap-2 items-center mb-1">
         <img src="assets/images/img_course.jpg" class="w-10 h-10 rounded-full object-cover object-center" />
         <div class="flex flex-col gap-1">
           <span class="text-sm text-blackShade-main font-medium">Nguyễn Văn Tèo</span>
           <span class="text-sm text-blackShade-light"> 12 November 2020 19:35</span>
         </div>
        </div>
        <i class="pi pi-ellipsis-v text-blackShade-light cursor-pointer" ></i> 
       </div>
       <div>Mi magna sed nec nisl mattis. Magna cursus tincidunt rhoncus imperdiet fermentum pretium, pharetra nisl. Euismod.</div>
       <p-divider></p-divider>
       <div class="flex gap-4 text-blackShade-light text-xs">
         <div class="flex gap-1  cursor-pointer items-center">
           <i class="pi pi-thumbs-up"></i>
           <span>123</span>
         </div>
         <div class="flex gap-1   cursor-pointer items-center">
          <i class="pi pi-thumbs-down"></i>
          <span>456</span>
        </div>
       </div>
     </div>
     <div class="flex flex-col rounded-2xl shadow-md p-8 mb-8">
      <div class="flex justify-between items-center">
       <div class="flex gap-2 items-center mb-1">
        <img src="assets/images/img_course.jpg" class="w-10 h-10 rounded-full object-cover object-center" />
        <div class="flex flex-col gap-1">
          <span class="text-sm text-blackShade-main font-medium">Nguyễn Văn Tèo</span>
          <span class="text-sm text-blackShade-light"> 12 November 2020 19:35</span>
        </div>
       </div>
       <i class="pi pi-ellipsis-v text-blackShade-light cursor-pointer" ></i> 
      </div>
      <div>Mi magna sed nec nisl mattis. Magna cursus tincidunt rhoncus imperdiet fermentum pretium, pharetra nisl. Euismod.</div>
      <p-divider></p-divider>
      <div class="flex gap-4 text-blackShade-light text-xs">
        <div class="flex gap-1  cursor-pointer items-center">
          <i class="pi pi-thumbs-up"></i>
          <span>123</span>
        </div>
        <div class="flex gap-1   cursor-pointer items-center">
         <i class="pi pi-thumbs-down"></i>
         <span>456</span>
       </div>
      </div>
    </div>
     </div>
   </div>
 </div>

</div>
