<header
  class="bg-slate-50 shadow fixed top-0 w-full z-50 h-16 flex justify-center"
>
  <nav class="container flex items-center justify-between px-6 py-4 gap-4">
    <div class="flex">
      <a href="#" class="p-1.5 w-44">
        <img src="assets/images/logo.png" alt="" />
      </a>
    </div>
    <div
      class="hidden md:flex md:flex-row gap-x-12 flex-1 items-center justify-center"
    >
      <span
        class="text-base font-normal leading-6 text-blackShade-light cursor-pointer hover:text-blackShade-strong transition-all"
        >Course</span
      >
      <span
        class="text-base font-normal leading-6 text-blackShade-light cursor-pointer hover:text-blackShade-strong transition-all"
        >Tour</span
      >
      <span
        class="text-base font-normal leading-6 text-blackShade-light cursor-pointer hover:text-blackShade-strong transition-all"
        >Workshop</span
      >
      <span
        class="text-base font-normal leading-6 text-blackShade-light cursor-pointer hover:text-blackShade-strong transition-all"
        >Blog</span
      >
      <span
        class="text-base font-normal leading-6 text-blackShade-light cursor-pointer hover:text-blackShade-strong transition-all"
        >Q&A</span
      >
    </div>
    <div class="hidden md:flex md:flex-row items-center justify-end gap-x-4">
      <div
        *ngIf="user$ | async as user; else notAuthenticated"
        class="flex ml-auto"
      >
        <!-- Add notification bell with badge here -->
        <div class="flex items-center ml-auto gap-10">
          <i
            class="pi pi-bell text-3xl cursor-pointer mt-2"
            pBadge
            value="2"
          ></i>

          <div class="card flex justify-content-center items-center">
            <p-menu #menu [model]="userMenuItems" [popup]="true"></p-menu>
            <div
              class="flex items-center gap-2 cursor-pointer"
              (click)="menu.toggle($event)"
            >
              <img
                [src]="userDefaultPath"
                alt="Profile"
                class="w-8 h-8 rounded-full object-cover object-center"
              />
              <span
                class="text-sm font-medium text-blackShade-main truncate max-w-36 select-none"
                >{{ user.fullName }}</span
              >
            </div>
          </div>
        </div>
      </div>
      <ng-template #notAuthenticated>
        <app-standard-button
          label="Log in"
          styleClass="primary-light w-40"
          (onClick)="navigateToLogIn()"
        />
        <app-standard-button
          label="Sign Up"
          styleClass="primary-outline"
          (onClick)="navigateToSignUpForGuardian()"
        />
      </ng-template>
    </div>
  </nav>
</header>
