<div
  class="border rounded-xl cursor-pointer flex flex-col transition-transform duration-300 hover:-translate-y-1 h-fit"
>
  <img
    src="assets/images/img_course.jpg"
    class="object-contain w-full rounded-t-xl"
  />
  <div class="p-4">
    <div class="text-base font-semibold">Nhập môn lập trình</div>
    <div class="text-sm mb-2">
      <span class="font-medium">by </span>Đại Học Sư Phạm Kỹ Thuật
    </div>
    <div class="flex gap-4 mb-2">
      <div class="flex gap-2 items-center">
        <i class="pi pi-clock" style="color: var(--primary-main)"></i>
        <span class="text-sm">3 tiếng</span>
      </div>
      <div class="flex gap-2 items-center">
        <i class="pi pi-graduation-cap" style="color: var(--primary-main)"></i>
        <span class="text-sm">156 học sinh</span>
      </div>
    </div>
  </div>
</div>
